extends layout

block content
	section(id="twitterFeed")
		a(href="https://twitter.com/British_Airways" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false") Follow
		script(type="text/javascript").
			!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
		div(id="feed")
			ul
				li(data-ng-repeat="tweet in tweets")
					h2 {{tweet.user.name}}
					p(class="screenName") @{{tweet.user.screen_name}}
					p(class="tweet") {{tweet.text}}
		div(id="social")
			h2(class="midline") Share Race
			ul(class="socialLinks")
				li
					a(href="twitter.com") &#x004f;
				li
					a(href="facebook.com") P
			a Competition Terms
	section(id="mapContent")
		h1 #RACETHEPLANE
		a(href="#" class="button") Power the Tweetliner

		section(id="map")

	section(id="info")
		img(src="/images/balogo.png" alt="British Airways logo")
		p Join the race now and make your tweet count! Help power the virtual plane against the British&nbsp;Airways Dreamliner from London to Toronto, and you could win 1 of 5 pairs of tickets. On your marks. Get set. Tweet. #RaceThePlane

		img(src="" alt="Dreamliner")
		p @British_Airways
			span(class="dreamliner") Dreamliner
		p {{dreamliner}} / {{totalMiles}} miles
		a(href="#") Find Out More

		img(src="" alt="Tweetliner")
		p @British_Airways
			span(class="tweetliner") Tweetliner
		p {{tweetliner}} / {{totalMiles}} miles

		h2(class="midline") Next Race
		p Sep 24
		a(href="") Remind Me
		a(href="") Watch Film