extends layout

block content
	section(id="twitterFeed" class="twitterFeed-{{twitterFeed}}")
		a(class="button hideTweets" data-ng-click="toggleTwitterFeed(false)") Hide Tweets
		a(href="https://twitter.com/British_Airways" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false") Follow
		script(type="text/javascript").
			!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
		div(id="feed")
			ul
				li(data-ng-repeat="tweet in tweets" class="card")
					h2 @{{tweet.user.screen_name}}
					p(class="screenName") {{tweet.user.name}}
					p(class="tweet") {{tweet.text}}
			span(class="overlay")
		div(id="social")
			h2(class="midline") Share Race
			ul(class="socialLinks")
				li
					a(href="twitter.com") &#x004f;
				li
					a(href="facebook.com") P
			a Competition Terms
	section(id="mapContent" class="showMap-{{map}}")
		h1 #RaceThePlane
		a(href="#" class="button") Power the Tweetliner
		a(class="button hideMap" data-ng-click="toggleMap(false)") Hide Map

		section(id="map")

	section(id="info")
		img(src="/images/balogo.png" alt="British Airways logo")
		h1 #RaceThePlane
		p(class="copy") Join the race now and make your tweet count! Help power the virtual plane against the British&nbsp;Airways Dreamliner from London to Toronto, and you could win 1 of 5 pairs of tickets. On your marks. Get set. Tweet. #RaceThePlane

		a(class="seeMap" data-ng-click="toggleMap(true)") See the map!
		a(class="seeTweets" data-ng-click="toggleTwitterFeed(true)") See the tweets!
		div(class="clearBoth")

		div(class="card")
			p @British_Airways
				span(class="dreamliner") Dreamliner
			p {{dreamliner}} / {{totalMiles}} miles

		div(class="card")
			p @British_Airways
				span(class="tweetliner") Tweetliner
			p {{tweetliner}} / {{totalMiles}} miles

		div(class="nextRace")
			h2(class="midline") Next&nbsp;Race&nbsp;: Sep&nbsp;24
			a(href="") Remind Me
			a(href="") Watch Film